<form action="" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />

  <label for="day-select">Select day:</label>
  <select id="day-select" name="day_of_week">
    <option value="monday">monday</option>
    <option value="tuesday">tuesday</option>
    <option value="wednesday">wednesday</option>
    <option value="thursday">thursday</option>
    <option value="friday">friday</option>
    <option value="saturday">saturday</option>
    <option value="sunday">sunday</option>
  </select>

  <label for="time">Time:</label>
  <input id="time" type="time" name="hour"/>

  <label for="capacity">Capacity:</label>
  <input id="capacity" type="int" name="capacity"/>

  <input type="submit" value="Add new classes"></input>


</form>
