<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MyGym</title>
  </head>
  <nav>
    <ul>
      <li> <a href="/">Home Page</a> </li>
      <li> <a href="/gymclasses">Classes</a> </li>
      <li> <a href="/gymclasses/new">Create new classes</a> </li>
      <li> <a href="/members">Members</a> </li>
      <li> <a href="/members/new">Create new member</a> </li>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
