<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MyGym</title>
    <link rel="stylesheet" href="/reset.css">
  </head>
  <nav>
    <ul>
      <p> <a href="/">Home Page</a> </p>
      <p> <a href="/gymclasses">Classes</a> </p>
      <p> <a href="/gymclasses/new">Create new classes</a> </p>
      <p> <a href="/members">Members</a> </p>
      <p> <a href="/members/new">Create new member</a> </p>
      <p> <a href="/bookings/new">Create new booking</a> </p>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
